{% extends "base.html" %}
{% block content %}
    <img src="/media/images/pexels-ann-h-2889685.jpg" class="img-fluid mx-0" style="height : 700px; width : 100%; object-fit: cover;">
    
    <div class="container-fluid">
		<div class="container p-3" style="width: 900px;">
			<h3 class="display-6 p-3">Everbody studies something likes books, newspapers, novels, etc for knowledge, passion, exams or just for reading. Some love studying some find it boring while some find it a burden. I have also studied and found some difficulties in reading, grasping, understanding, etc in my life journey. On that basis i am sharing some of my experience and methods which maybe can help in your studies and increase your focus and interests. Please tell how you feel or what are your thoughts about it. I am waiting for your precious likes and comments!!! 🙂</h3>
		</div>
    </div>
    <div class="container-fluid text-center">
    	<div class="container">
    		<h2 class="fw-bold text-uppercase text-start display-6 p-3">Latest Posts</h2>
    	</div>
    	<div class="row">
			{% for n in blogPost %}
				<div class="col-lg-4 p-3">
					<div class="card" style="width: 28rem;">
						<img src="/media/{{n.postImg}}" class="card-img-top" alt="..." />
						<div class="card-body">
							<h5 class="card-title">{{n.title}}</h5>
							<p class="card-text">{{n.description}}</p>
							<a href="/single/{{n.titleSlug}}" class="btn btn-primary">See Post</a>
						</div>
					</div>
				</div>
			{% endfor %}
    	</div>
    </div>

    {% endblock %}
